html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
    text-align: center;
}

.recipe-list {
    text-align: center;
    background-color: rgb(68, 169, 0);
    list-style-type: none;
}


.recipe-list a {
    padding-left: 40%;
    padding-right: 40%;
}